
.profile>H2{
    margin-top: 2rem;
    }

.contact{
    margin-top: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
}

.profile>p{
    font-size: larger;
}

.contact-icon>img{
    width: 30px;
    height: 30px;
}

