.container-text{
    padding-left: 3rem;
}

.container-text> h2{
    margin-top: 3rem;
}

.container-text> p{
    margin-top: 3rem;
}

.btn-demo{
    margin-top: 3rem;
    padding: 1rem 4rem;
    border-radius: 1rem;
    margin-right: 1rem;
    background-color: #2f80ed;
    color: white;
    border: 0;
}

.btn-code{
    margin-top: 4rem;
    padding: 1rem 4rem;
    border-radius: 1rem;
    margin-right: 1rem;
    background-color: white;
    color: #2f80ed;
    border-color: #2f80ed;
}
