@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    background-color: lightgray;
}

h2{
    color: #4f4f4f;
}

h3{
   color: #4f4f4f;
}
h4{
    color: lightgray;
}
img {
    width: 100%;

}

progress{
    width: 100%;
}

p{
    color: #828282;
    font-size: large;
}